@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div style="text-align:center; padding:60px;">
    <h2> Cảm ơn bạn đã đặt hàng</h2>
    <p>Đơn hàng của bạn đang được xử lý. Chúng tôi sẽ liên hệ sớm.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-success">Tiếp tục mua sắm</a>
</div>
